.form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Futura PT", sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}
.billing-form {
    padding-top: 200px;
    width: 600px;
    max-width: 800px;
    margin: 0 auto;
    height: 200px;
    max-height: 200px;
}

.shipping-form {
    padding-top: 200px;
    max-width: 800px;
    margin: 0 auto;
    height: 200px;
    max-height: 200px;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #8BA4A6;
}

.form-group input[type="email"]{
    color: white;
}

.billing-form input[type="text"]{
    color: white;
}

.shipping-form input[type="text"]{
    color: white;
}

.form-group-row {
    display: flex;
    flex: 1;
}

.form-group-state {
    margin-bottom: 20px;
    width: 100px;
}

.form-group-state label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group-state input[type="text"],
.form-group-state input[type="email"],
.form-group-state select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #8BA4A6;
}

.form-group-postcode {
    margin-bottom: 20px;
    width: 100px;
    margin-left: 100px;
}

.form-group-postcode label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group-postcode input[type="text"],
.form-group-postcode input[type="email"],
.form-group-postcode select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #8BA4A6;
}

.shipping-form button[type="back"] {
    background-color: #D62C2C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
    width: 300px;
    height: 50px;
}

.shipping-form button[type="payment"] {
    background-color: #429445;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin-top: 15px;
}

.shipping-form button[type="back"]:hover {
    background-color: #f76868;
}

.shipping-form button[type="payment"]:hover {
    background-color: #55be59;
}


.checkout-footer {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: var(--light-yellow); 
    padding: 10px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: end;
  }
  
  .checkout-footer h1 {
    justify-content: end;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-family: "Futura PT", serif;
    font-weight: 400;
    color: black;
  }