.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

a{
    text-decoration: none;
}

.logo{
    height: 80px;
}

.nav_left ul{
display: flex;
flex-direction: row;
align-items: center;
}

.src_bt{
    text-decoration: none;
    border: none;
}

.src_bar{
    text-decoration: none;
    border: none;
}

