* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y: auto;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin:auto;
    padding: 10px;
    background-color: var(--lake-blue);
    z-index: 9999;
}

.logo{
  height: 80px;
}

nav a{
    color: var(--black);
}

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: smaller;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* hamburger menu */
nav .menu-icon {
  display: none;
  cursor: pointer;
}

nav .line {
  width: 25px;
  height: 2px;
  background-color: #000000;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  nav .menu-icon {
    display:flex;
    flex-direction: column;
  }

  nav ul{
    display: none;
  }

  nav ul.show{
    display: block;
  }
}

nav li{
    margin: 0 10px;
  }

a{
    text-decoration: none;
}

.nav_left ul{
display: flex;
flex-direction: row;
align-items: center;
}

.search-container{
    display: flex;
    justify-content:center;
    margin-left: auto;
    align-items: center;
}

.search-bar{
    position: relative;
}
.search-container input[type=text] {
    background-color: var(--lighter-lake-blue);
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 250px;
    height: 28px;
    outline: none;
    background-color: var(--lighter-lake-blue);
    display: inline-block;
    vertical-align: middle;
  }

  .search-container button {
    padding: 10px;
    border: none;
    background: var(--lighter-lake-blue);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    vertical-align: middle;
  }

.search-recom{
    opacity: 0;
    width: 340px;
    height: 0px;
    background-color: var(--lake-blue);
    transition: all 0.5s ease;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-container:hover .search-recom{
  background-color: #BCCBCC;
  opacity: 1;
  width: 300px;
  height: 130px;
  transition: all 0.5s ease;
  top: 100px;
  justify-content: space-evenly;
  border-radius: 10px;
}

.search-recom .rectangle {
  width: 60px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  transition: 0.3s ease;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-recom .rectangle:hover {
  background-color: var(--lake-blue);
}

.search-recom .rectangle-text {
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header1 {
    background-color: var(--light-yellow); 
    padding: 10px;
    text-align: center;
    height: 40px;
    padding-top: 120px;
    width: 100%;
  }

.header1 h1 {
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-family: "Futura PT", serif;
    color: var(--grey);
  }

 .poster-container{
    position: relative;
    white-space: nowrap;
    animation: bannermove 20s linear infinite;
    font-size: 0;
    width: 100%;
    cursor: pointer;
 }

 .poster-container img {
  display: inline-block; 
  max-width: 100%; 
  height: auto; 
  vertical-align: top; 
  transition: transform 0.3s ease;
  object-fit: contain;
}
 
.poster-container img:hover {
  transform: scale(1.1);
}

.poster-container img:active {
  transform: scale(1);
}

 @keyframes bannermove {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-200%,0);
    }
  }
 
 .poster-container:hover{
    animation-play-state:paused;
 }

.header2 {
  background-color: var(--light-yellow); 
  padding: 10px;
  text-align: center;
  height: 40px;
  width: 100%;
  padding-top: 15px;
 }

.header2 h1 {
  text-align: center;
  margin: auto;
  font-size: 25px;
  font-family: "Futura PT", serif;
  color: var(--grey);
}

/* individual product */
.rectangle-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 0 100px;
}

.rectangle {
  position: relative;
  width: 350px;
  height: 120px;
  background-color: #BCCBCC;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.rectangle-container a {
  color: black;
}

.inner-content{
  display: flex;
  align-items: center;
}
.inner-square {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 10px;
  margin-right: 15px;
  flex-shrink: 0;
}

.inner-square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rectangle span{
  font-family: "Futura PT", sans-serif;
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
}

.rectangle-container .rectangle .inner-square {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rectangle.first-rectangle .inner-square {
  background-image: url('photo 1.jpg');
}

.rectangle.second-rectangle .inner-square {
  background-image: url('photo 2.png');
}

.rectangle.third-rectangle .inner-square {
  background-image: url('photo 3.png');
}

.rectangle.fourth-rectangle .inner-square {
  background-image: url('photo 4.png');
}

.rectangle.fifth-rectangle .inner-square {
  background-image: url('photo 5.png');
}

.rectangle.sixth-rectangle .inner-square {
  background-image: url('photo 6.png');
}

.rectangle.seventh-rectangle .inner-square {
  background-image: url('photo 7.png');
}

.rectangle.eighth-rectangle .inner-square {
  background-image: url('photo 8.png');
}

/* big rectangles */
.sub-categories-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  align-items: center;
}

.sub-categories {
  position: relative;
  width: 450px;
  height: 220px;
  overflow: hidden;
}

.sub-categories .inner-content {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: "Futura PT", sans-serif;
  font-size: 45px;
  font-weight:530;
  background-color: transparent;
  z-index: 1;
}

.sub-categories .inner-content span {
  position: relative;
  z-index: 1;
}

.sub-categories img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.home-header3 {
  position:relative;
  bottom:0;
  width: 100%;
  background-color: var(--light-yellow); 
  padding: 10px;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: end;
}

.home-header3 h1 {
  justify-content: end;
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  font-family: "Futura PT", serif;
  font-weight: 400;
  color: black;
}