* {
    margin: 0;
    padding: 0;
  }
  
body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    overflow-y: auto;
  }

  .square-container {
    margin-top: 20px; /* Adjust the margin-top value as desired */
  }
  
  .square {
    width: 100%;
    height: 300px;
    background-color: red; /* Change the background color as desired */
  }
  
  