* {
    margin: 0;
    padding: 0;
  }
  
body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    overflow-y: auto;
  }

  .cart-quantity{
    color: #ECE3CC;
    font-size: 25px;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 50%;
  
  }
  
  .square {
    display:flex;
    align-items:center;
    justify-content:left;
    margin: 200px auto;
    width: 1800px;
    height: 700px;
    background-color: #BCCBCC;
    border-radius: 30px;
  }
  
  .square img {
    margin-left: 50px;
    width: 600px;
    height: 600px;
    object-fit: cover;
  }

  .square h1{
    margin-top: -550px;
    margin-left: 50px;
    font-family: "Futura PT", sans-serif;
    font-size: 40px;
    font-weight: bold;
  }

  .square h5{
    margin-left: -230px;
    margin-top: -300px;
    font-family: "Futura PT", sans-serif;
    font-size: 50px;
    font-weight: bold;
  }

  .circle-text {
    display: flex;
    align-items: center;
    margin-bottom: -100px; 
    margin-left: -1000px;
  }
  
  .circle {
    margin-right: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: green;
  }
  
  .green {
    background-color: green;
  }
  
  .circle-text h4 {
    margin-left: 10px;
    margin-bottom: 150px;
    font-family: "Futura PT", sans-serif;
    font-size: 24px;
    font-weight: bold;
  }

  .circle-text span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    font-family: "Futura PT", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .circle-text span:not(:last-child) {
    margin-right: 30px;
  }

  .circle-text .circle:first-child {
    margin-left: 0; 
  }
  
  .circle-text .circle:last-child {
    margin-right: 0;
  }

  .quantity-box {
    position: static;
    margin-top: 400px;
    margin-left: 200px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    border: none;
  }
  
  .quantity-input {
    width: 80px;
    height: 40px;
    padding: 5px;
    font-size: 25px;
    border: none;
  }
  
  .add-to-cart-button {
    margin-top: 80px;
    width: 400px;
    height: 50px;
    padding: 8px 16px;
    font-size: 25px;
    font-family: "Futura PT", sans-serif;  
    background-color: #429445;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color:#55be59;
  }

  .buy-now-button {
    margin-top: 10px;
    width: 400px;
    height: 50px;
    padding: 8px 16px;
    font-size: 25px;
    font-family: "Futura PT", sans-serif;
    background-color: #D62C2C;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .buy-now-button:hover {
    background-color:#f76868;
  }

  .square-2{
    margin-top: -150px;
    margin-bottom: 0;
    border-radius: 10px;
    height: 300px;
  }

  .square-2 h2{
    margin-top: -180px;
    margin-left: 40px;
    font-family: "Futura PT", sans-serif;
    font-size: 25px;
    font-weight: bold;
  }

  .square-2 p{
    margin-top: -150px;
    margin-left: -135px;
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
  }
  
  .items-suggestion{
    justify-content: flex-start;
    padding-left: 60px;
    padding-top: 50px;
    font-size: 25px;
  }
  