* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y: auto;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin:auto;
    padding: 10px;
    background-color: var(--lake-blue);
    z-index: 9999;
}

.logo{
  height: 80px;
}

nav a{
    color: var(--black);
}

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: smaller;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* hamburger menu */
nav .menu-icon {
  display: none;
  cursor: pointer;
}

nav .line {
  width: 25px;
  height: 2px;
  background-color: #000000;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  nav .menu-icon {
    display:flex;
    flex-direction: column;
  }

  nav ul{
    display: none;
  }

  nav ul.show{
    display: block;
  }
}

nav li{
    margin: 0 10px;
  }

a{
    text-decoration: none;
}

.nav_left ul{
display: flex;
flex-direction: row;
align-items: center;
}

.search-container{
    display: flex;
    justify-content:center;
    margin-left: auto;
    align-items: center;
}

.search-bar{
    position: relative;
}
.search-container input[type=text] {
    background-color: var(--lighter-lake-blue);
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 250px;
    height: 28px;
    outline: none;
    background-color: var(--lighter-lake-blue);
    display: inline-block;
    vertical-align: middle;
  }

  .search-container button {
    padding: 10px;
    border: none;
    background: var(--lighter-lake-blue);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    vertical-align: middle;
  }

.search-recom{
    opacity: 0;
    width: 340px;
    height: 0px;
    background-color: var(--lake-blue);
    transition: all 0.5s ease;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-container:hover .search-recom{
    opacity: 1;
    width: 340px;
    height: 130px;
    transition: all 0.5s ease;
    top: 100px;
    justify-content: space-evenly;
}

.search-recom .rectangle {
  width: 60px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-recom .rectangle:hover {
  background-color: #BCCBCC;
}

.search-recom .rectangle-text {
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  display: flex;
  font-size: 35px;
  font-family: "Futura PT", serif;
  color: rgb(0, 0, 0);
  padding-top: 90px;
  justify-content: center;
  padding-top: 160px;
}

h3{
  font-size: large;
  display: flex;
  justify-content: center;
  font-family: "Futura PT", serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.header3 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--lake-blue); 
  padding: 10px;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
}

.header3 h1 {
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  font-family: "Futura PT", serif;
  font-weight: 400;
  color: white;
}