* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y: auto;
}

.search-result-text{
  display: flex;
  font-size: 35px;
  font-family: "Futura PT", serif;
  color: rgb(0, 0, 0);
  justify-content: center;
  padding-top: 160px;
}

h3{
  font-size: large;
  display: flex;
  justify-content: center;
  font-family: "Futura PT", serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.search-footer {
  position:relative;
  bottom:0;
  width: 100%;
  background-color: var(--light-yellow); 
  padding: 10px;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: end;
}

.search-footer h1 {
  justify-content: end;
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  font-family: "Futura PT", serif;
  font-weight: 400;
  color: black;
}