nav{
    font-family: "Futura PT", sans-serif;  
}

nav a{
    font-size: 25px;
    font-weight: 200;
}



::placeholder{
    font-size: 15px;
}

.search-container input[type=text] {
    font-size: 17px;
  }

  .search-container button {
    font-size: 16px;
    color: var(--black);
  }

header h1 {
    font-size: 25px;
    font-family: "Futura PT", sans-serif;
    color: var(--grey);
  }
  